@media screen and (max-width: 380px) {
    .tela-logim > h3{
        font-size: 5px; 
    }
}
@media screen and (max-width: 700px) {
    .bg{
        width: 100%;
        height: 200vh;
        
        
    }
}